@import  "./Variables.scss";


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 53px;
  height: 27px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background: linear-gradient(to right, #378fe6,#3eda82);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  background-color: $BGDark;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.right-part,
header {
  display: flex;
  justify-content: space-between;
  font-family: $font;
  align-items: center;
}
.right-part h4{margin-right:10px;}
header {
  margin: 1rem 10rem;
}
header h4{color:$Text1Light;}

@media only screen and (max-width:385px) {
  header {
    display: flex;
    flex-direction:column;
    margin-left:15px;
    margin-right:15px;
    font-size:14px;
  }
  header h1{font-size:1.4rem;margin-bottom: 0;} 
  .left-part h4{margin-top:0;}
  .right-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top:1px solid $TopBGDark;
  }
}